<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2022-04-01T13:18:48Z</date>
	<key>WorkspacePath</key>
	<string>/Users/sakos/Documents/GitHub/BJJS lbbt/BJJS lbbt.xcodeproj</string>
</dict>
</plist>
